*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul, ol, li{
    list-style: none;

}
.circulo1{
    width: 100vw;
    height: 200px;
    background-color: #a580ae;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    gap: 10px;
}
.circulo1 div{
    width: 100px;
    height: 100px;
    background-color: #491b55;
    border-radius: 50%;

}
.circulo2{
    width: 100vw;
    height: 200px;
    background-color: #65c87e;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
}
.circulo2 div{
    width: 100px;
    height: 100px;
    background-color: #1b552e;
    border-radius: 50%;

}
.circulo3{
    width: 100vw;
    height: 200px;
    background-color: #ce8686;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.circulo3 div{
    width: 100px;
    height: 100px;
    background-color: #880000;
    border-radius: 50%;

}
.circulo4{
    width: 100vw;
    height: 200px;
    background-color: #efe379;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.circulo4 div{
    width: 100px;
    height: 100px;
    background-color: #ccc60c;
    border-radius: 50%;

}